:root {
  --font-family-heading: "Anton", sans-serif;
  --font-family-body: "Noto Sans JP", sans-serif;

  --color-white: #fffefc;
  --color-black: #020911;
  --color-accent-red: #f20574;
  --color-accent-yellow: #f2e52e;
  --color-background-black: #171525;
  --color-background-navy: #030427;
  --color-form-background-yellow: #fffab9;
  --color-form-placeholder-gray: #ad9783;
  --color-form-border-red: #df6da2;
  --color-button-hover-red: #f043a5;
  --color-course-hover-yellow: #f4e877;
  --color-hero-overlay: rgba(57, 24, 111, 0.4);
  --color-course-overlay: rgba(32, 8, 19, 0.63);
}

/* global */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-family-body);
}

img {
  display: block;
}

/* header */
.header {
  height: 80px;
  background-color: var(--color-background-black);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
}

.header-logo-wrapper {
  margin: 0;
}

.header-logo {
  height: 50px;
}

@media (max-width: 750px) {
  .header {
    height: 60px;
  }

  .header-logo {
    height: 30px;
  }
}

/* hero */
.hero {
  background-image: url("./img/hero.png");
  padding: 94px 40px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-hero-overlay);
}

.hero-container {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: flex-end;
  z-index: 1;
}

.hero-texts {
  color: var(--color-accent-yellow);
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.hero-main-copy {
  font-family: var(--font-family-heading);
  font-size: 64px;
  line-height: 1;
  margin: 0;
  letter-spacing: 0.05em;
}

.hero-sub-copy {
  margin: 0;
}

.hero-main-copy-accent {
  color: var(--color-accent-red);
}

@media (max-width: 750px) {
  .hero {
    padding: 40px 10px;
    margin-top: 60px;
  }

  .hero-container {
    justify-content: flex-start;
  }

  .hero-texts {
    gap: 20px;
  }
}

/* about */
.about {
  margin: 0;
  height: 428px;
  background-color: var(--color-background-black);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0px;
  gap: 20px;
}

.about-container {
  padding: 0px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.about-texts {
  font-family: var(--font-family-heading);
  /* width: 309px; */
  height: 48px;
  margin: 0;
  color: var(--color-white);
  font-size: 32px;
  letter-spacing: 0.64px;
  line-height: normal;
}
.color-accent1 {
  color: var(--color-accent-red);
}

.color-accent2 {
  color: var(--color-accent-yellow);
}

.about-content {
  display: flex;
  width: 800px;
  height: 180px;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.about-content-copy {
  color: var(--color-white);
  width: 460px;
  height: 161px;
  font-size: 16px;
}

.about-content-img {
  width: 320px;
  height: 180px;
}

@media (max-width: 750px) {
  .about {
    height: 363px;
    padding: 40px 20px;
    gap: 40px;
  }
  .about-container {
    flex-direction: column;
  }
  .about-texts {
    /* width: 221px; */
    height: 36px;
    padding: 6px 0px;
    font-size: 24px;
  }
  .about-content-copy {
    width: 350px;
    height: 207px;
    font-size: 16px;
  }

  .about-content-img {
    display: none;
  }
}

/* courses */
.courses {
  background-color: var(--color-background-navy);
  padding: 80px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.courses-container {
  display: flex;
  padding: 0px 40px;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.courses-texts {
  font-family: var(--font-family-heading);
  color: var(--color-white);
  width: 108px;
  height: 48px;
  font-size: 32px;
  letter-spacing: 0.64px;
}
.courses-cards {
  display: flex;
  width: 800px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.card {
  display: flex;
  height: 150px;
  align-items: flex-start;
  background: var(--color-accent-yellow);
  box-shadow: 4px 4px 0px 0px var(--color-accent-red);
}
.card-picture {
  display: flex;
  width: 250px;
  height: 150px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;
}
.card-picture::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--color-hero-overlay);
}
.card-img {
  width: 100%;
  height: 100%;
}
.card-img-copy {
  position: absolute;
  color: var(--color-white);
  font-family: var(--font-family-heading);
  font-size: 32px;
  letter-spacing: 1.6px;
  z-index: 1;
}
.card-body {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  flex: 1 0 0;
}
.card-texts {
  margin: 0;
  color: var(--color-black);
  font-family: var(--font-family-body);
  font-size: 16px;
}
.card-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.card-frame-texts {
  color: var(--color-accent-red);
  font-family: var(--font-family-body);
  font-size: 16px;
}

.courses-button {
  background: var(--color-accent-red);
  box-shadow: 4px 4px 0px 0px var(--color-accent-yellow);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 60px;
  padding: 10px 40px;
  gap: 10px;
}
.courses-button-frame {
  width: 670px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}
.courses-button-copy {
  font-family: var(--font-family-body);
  color: var(--color-white);
  font-size: 20px;
}
.courses-button-arrow {
  width: 40px;
  height: 40px;
}

@media (max-width: 750px) {
}
